<div>
  <div fxLayout="column">
    <mat-card class="default">
      <mat-card-header>
        <mat-card-title>Email To</mat-card-title>
      </mat-card-header>
      <mat-card-content class="mb-0 px-1">
        <form ngClass.gt-xs="px-1">
          <div fxLayout="row" fxLayoutWrap="wrap">
            <div fxFlex="100" fxFlex.gt-md="90" ngClass.gt-md="pr-1">
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="From " [formControl]="email">
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Send To" [formControl]="email">
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
              </div>
              <div>
                  <mat-form-field fxFlex="100">
                      <mat-chip-list #chipList>
                        <mat-chip *ngFor="let chip of chips"
                         [selected]="chip.selected" [color]="chip.color"
                         [removable]="removable" (remove)="remove(chip)"
                         >
                         {{chip.name}}
                         <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                       </mat-chip>
                        <input placeholder="Cc"
                          [matChipInputFor]="chipList"
                          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                          [matChipInputAddOnBlur]="addOnBlur"
                          (matChipInputTokenEnd)="add($event)"
                          >
                      </mat-chip-list>
                    </mat-form-field>
              </div>
              <div>
                  <mat-form-field fxFlex="100">
                    <input matInput placeholder="Subject" type="text">
                  </mat-form-field>
                </div>
              <div fxLayout="column">
                <quill-editor [style]="{height:'250px',width:'100%'}"></quill-editor>
              </div>
              <br/>
              <div fxLayoutAlign="start start" fxLayoutGap="5px">
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="Choose file" readonly #file1 class="pointer--cursor" (click)="upload1.click()">
                  <input [hidden]="true" type="file" #upload1 (change)="uploadFile($event, file1)" />
                </mat-form-field>
                <button type="button" mat-raised-button color="accent" (click)="upload1.click()">
                  <mat-icon>attachment</mat-icon>
                </button>
              </div>
            </div>

            <div fxFlex="100" fxFlex.gt-md="30" ngClass.gt-md="pl-1">

            </div>
          </div>

          <div class="ptb-5 mb-1">
            <button mat-raised-button color="primary" class="mr-1">Send</button>
            <button mat-raised-button color="accent" class="mr-1">Cancel</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>