<div class="mat-bg--primary--400" [style.min-height] = "'100vh'" fxFlex="100" fxLayoutAlign="center center">
  <div fxFlex="100" [style.max-width]="'400px'">
    <mat-card>
      <div class="py-1" ngClass.gt-xs="p-1">
        <div class="logo1 text-center">
          <img src="assets/images/logo.png">
          <div class="mat-h2 mt-5">Set a New Password</div>
        </div>
        <div class="mt-1">
          <form>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput type="text" placeholder="Password">
                </mat-form-field>
              </div>
              <div>
                <mat-form-field fxFlex="100">
                  <input matInput type="password" placeholder="Confirm Password">
                </mat-form-field>
              </div>
          </form>
          <div fxLayout="column" fxLayoutAlign="center center" class="my-1" fxLayoutGap="1rem">
            <a routerLink="/admin/login" mat-raised-button color="accent" class="my-1" [style.width]="'220px'">Set Password</a>
            <!-- <div class="seperator">
              <span class="text">OR</span>
            </div>
            <button mat-raised-button class="btn--google f-13-400">Login with Google</button>
            <button mat-raised-button class="btn--facebook f-13-400">Login with Facebook</button> -->
          </div>
          <div fxLayout="column" fxLayoutAlign="center center" class="mt-1" fxLayoutGap=".5rem">
            <!-- <div class="mat-body-2 mb-0">Don't have an account?</div> -->
            <!-- <a routerLink="/admin/dashboard" class="mat-body-1 link">Go to dashboard</a> -->
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>

